{% extends 'base.html' %} {% block content %}

<section class="section-pricing">
    <div class="container">
        <span class="subheading">Pricing</span>
        <h2 class="heading-secondary">
          Eating well without breaking the bank
        </h2>
      </div>

      <div class="container grid--3-cols margin-bottom-md">
        <div class="princing-plan princing-plan--starter">
          <header class="plan-header">
            <p class="plan-name">Starter</p>
            <p class="plan-price"><span>$</span>799</p>
            
          </header>
          <ul class="list">
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
              <span>Account management</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
              <span>2 stories a day</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
              <span>3 pieces of content a week</span>
            </li>
          </ul>
          <div class="plan-sing-up">
            <a href="#" class="btn--full">Buy Package</a>
          </div>
        </div>

            <div class="princing-plan princing-plan--starter">
              <header class="plan-header">
                <p class="plan-name">Shark</p>
                <p class="plan-price"><span>$</span>1250</p>
                
              </header>
              <ul class="list">
                <li class="list-item">
                  <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                  <span>Everything in starter +</span>
                </li>
                <li class="list-item">
                  <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                  <span>5 pieces of content a week</span>
                </li>
                <li class="list-item">
                  <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                  <span>4 stories a day</span>
                </li>
              </ul>
              <div class="plan-sing-up">
                <a href="#" class="btn--full">Buy Package</a>
              </div>
            </div>

           
                <div class="princing-plan princing-plan--starter">
                  <header class="plan-header">
                    <p class="plan-name">Whale</p>
                    <p class="plan-price"><span>$</span>1750</p>
                  
                  </header>
                  <ul class="list">
                    <li class="list-item">
                      <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                      <span>Everything in shark +</span>
                    </li>
                    <li class="list-item">
                      <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                      <span>Order from 11am to 9pm</span>
                    </li>
                    <li class="list-item">
                      <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                      <span>Delivery is free</span>
                    </li>
                  </ul>
                  <div class="plan-sing-up">
                    <a href="#" class="btn--full">Buy Package</a>
                  </div>
                </div>

</section>

<footer class="p-5 bg-#82c91e text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2022 Vertex Media</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5"></a>
      <i class="bi bi-arrow-up-circle h1"></i>
    </div>
  </footer>
    {% endblock %}
  </body>
</html>
