{% extends 'base.html' %} {% block content %}

<section class="section-testimonials">
  <div class="testimonials-container">
    <span class="subheading-testimonials">Testimonials</span>
    <h2 class="heading-testimonials">Once you trust us, you only go upwards</h2>

    <div class="testimonials">
      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Richard Hadlee</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Jack Smith</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Garfield</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Aleen Cheema</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Soloman Ahmed</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Rehaan Khan</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>
        <p class="testimonial-name">&mdash; Mike Santiago</p>
      </figure>

      <figure class="testimonial">
        <p class="testimonial-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          dolores culpa aperiam nobis modi quos voluptatum itaque saepe in.
        </p>

        <p class="testimonial-name">&mdash; Shads</p>
      </figure>
    </div>
  </div>
</section>
<footer class="p-5 bg-#82c91e text-white text-center position-relative">
  <div class="container">
    <p class="lead">Copyright &copy; 2022 Vertex Media</p>

    <a href="#" class="position-absolute bottom-0 end-0 p-5"></a>
    <i class="bi bi-arrow-up-circle h1"></i>
  </div>
</footer>
{% endblock %}
